/* Reset default browser styles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  
  line-height: 1.5;
  padding: 20px;
  
    font-family: "Poppins", sans-serif;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fafafa;
  color: black;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color:black;
  text-decoration: none;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2 {
  margin-bottom: 20px;
}


  #fo{
   background-image: linear-gradient( #20BF55,#01BAEF);
   border-radius: 10px;
   color: #fefefe;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
 
  }


  #tab{
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    
    
    }

    #Qlist{
      padding-top: 10px;
      text-align: center;
    }

  #heading{
    text-align: center;
    padding-top: 30px;
   
  }
/*form {
  display: flex;
  flex-wrap: wrap;
}*/

#actualform{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}

label,
input,
textarea {
  padding: 5px;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}

input[type="submit"] {
  
  background-color:  #0077B6;
 margin: auto;
  padding-right: 20px;
  padding-left:20px ;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

table {
  
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #444;
  color: #fff;
}
footer p{
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  main{
    width: 100%;
  }
  header {
    flex-direction: column;
    text-align: center;
  }
  nav {
    margin-top: 20px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav li {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  main{
    width: 100%;
  }
  #fo {
    width: 100%;
  }
  #actualform {
    padding: 0;
  }
  label,
  input,
  textarea {
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
  }
  input[type="submit"] {
    font-size: 18px;
  }
}































